---
layout: null
permalink: /site/tools/02/math/matrix-calculator.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Calculator</title>
    <meta name="description" content="Matrix operations.">
    <link rel="stylesheet" href="/site/tools/02/style.css">
    <script src="/site/tools/02/config.js"></script>
{% include head.html %}
</head>
<body data-page-name="Matrix Calculator" data-tool-id="matrix">
    <div id="site-header"></div>
    
    <div class="layout">
        <div id="site-sidebar"></div>
<details><summary>...</summary>
jimekhan76
ishakumarii.0
sujata1015
beka gomez
kylin kalani nua
salmafeerr
peniellieee
tjnayane
ruthlessr0se
leena banuelos leaks
gullu0666
intext  quot duramaxprincessss quot  download
intext  quot onenonlydes quot  cam or recordings or siterip or albums
intext  quot 11chastity11 quot  videos
intext  quot janatasina quot  file or mega or link or grab or cloud or view or watch
emilia leexo nackt
lanadreams 85 nackt
lillyschka berger fapello
avivyoseff nude
gullu0666 desnuda
juliane seyfarth wikifeet
kori oliveros fapello
 kyriia  erome
aditi mistry nude blue saree nipple live
afreckledcarioca nsfw
barbbooooo слив
elizarosewatson xox onlyfans
jamie marie juicyforum
kimberlyravenof nude
milena grazia fapello
officemarti слив
sofianielsenn tits
beachkouple
imaavi22 nude
michelle cavallaro phica
prettyladiesalive nude
sandra rozwandowicz nude
simplyticah onlyfans
thelolabelle fapello
vedikaxsinha fapello
xvideos thassara izau
agni.eszka703 nude
avimorbar nua
belsgoodies erome
cristina.dragomir16 tits
enelly urzua reddit
mel.koneko onlifans
morganeelaine xxnx
nerushimav fapello
pamela yanez baddiehub
rosagarcia789 erome
thassara izau porno
zuribellamonde
 alessandraliutaketwo nipple
cici lafler erome
ewatomi demilade abdullahi porn
ihearttrenity pixwox
kaitlyn bubolz babepedia
masegobaisitse36 erome
munequitaenfadada erome
next0 dam.e desnuda
next0 dam.e fapello
notalainaellis nude
peniellieee erome
roustar.x erome
sejinming pussy
밤비 팬트리 fapello.com
agam tamam dildo
iamjustme4real onlyfans
iraatii st nudes
marianaangel7036
mianoble1 erome
mianoble1 xxx
nada barbiche nude
plaxedes dube erome
queenly quinn babiez nudes
queenly quinn babiez onlyfans
rehikulous erome
roustar erome
sakwana queen erome
samaelaferrari erome
siphiwechristmas0 erome
siriasuncolor phica
szawernowska nude
thassara izau xvideos
tracyben24 nude
verysallyish forum
whoisdivina nudes
евгения грибовская nude
ana lucia pineda boobpedia
andrej jekimov nude
aniela yellz nackt
ashlene mullens fapello
corridaika onlyfan
crazycma nude
ell8ta erome
ellanetzer erome
ewatomilola xxx
gaia dior phica
letlovelesslive3 nude
lylasbigheart2.0 nude
mariapeachoutside fapello
marisol yotta boobpedia
mayhoekage nue
mjayesi erome
notalainaellis desnuda
sabrina hanson onlyfans reddit
sammiesaenno xxx
siphiwechristmas porn
sonamoni9748 porn
sussibrodin nude
themelodyjai erome
themelodyjai naked
where is she now
whoisdivina onlyfans
yurishabrazy nude
zxeriascute naked
 slimthickfit forum
aaaaria8 erome
anella smitt nude
anonib sarah rohe
bongo naari porn video
bufalika tots
chescamaggio baddiehub
christy jameau pussy
exohydrax baddiehub
fant ass see erome
hazelmay38kagain fapello
hwoarangkang nua
ijanajenner erome
itsammyjo   nude
itsmyahjane erome
jolie juicyy fapello
juliagmez erome
keyy molina desnuda
liam miller bunnyayu
lillu030 telegram
lindaconcepcion211 nude
luz rodriguezs2 erome
mailiholt socialmediagirls
malecisneros89 erome
mctiddiees nackt
miaooomm nude
momycarterxo nackt
nickimammasolxo nsfw
oluwatomisin147 porn
pebbelz da model erome
prettyladiesalive sex
sennawhitemanfit only fans
shannondoah mora naked
shenagsti nude
shesdollyflynne xxx
simplyticah xxx
sisn7 nude
sockcladcuties
therealllsgreyy reddit
tkfeelsok erome
ulluxweb series
whouluv2luv nude
xomorris слив
yanixblessed baddiehub
amariahmorales xnxx
arttania escort
bezashine nude
carmen curvy onlifans
corridaika erome
danielle bragoli nude
dasani delgado picuki
dominq pinder
eudimar valenzuela onlifans
fabbless nude
fairyalexx erome
fatimakoroma erome
giulia corrado onlifans
haleighcox baddiehub
imjaneford desnuda
inky cheekzz nude
itsmeserenaj porn
itsneha priv leaks
jazlynlovesu nua
karengomez1 onlyfans
karenmuccireal erome
lingeriedreamer2
lmonies dildo
lucyypillow porn
luli pinotti nude
manuela velasco wikifeet
mona azar baddiehub
musclemommycosplays xxnx
namwaanntd erome
next0 dame nude
nikita ardusadan nude
nora fatehi boobpedia
notalainaellis leaks
officemarti onlyfans
oluwatomisin147 porno
queenly quinn babiez xxx
quick2get erome
rosamodel61
scarrettx7 desnuda
sennawhiteman fapello
sharamae arevalo leaked
theonlychelseaxo nude
tiffanyrosse onlyfans
tuh lay ya naked
vickybixs
workwifekaelee nude
xtie.fit80 naked
amanda pascoaleto erome
asha negi wikifeet
bonnieboudoin pussy
divya pillai wikifeet
eleonora incardona wikifeet
ella valtou onlyfans
jazlynlovesu pelada
mary-louise parker wikifeet
saraosulli vsco
sazondepuertorico picuki
anet mlcakova dildo
itsmeserenaj nudes
jaylaraefanpage erome
kiaira morand onlyfan leak
a mason33 telegram
annalise schmilinsky vsco
caroline wick fapello
foto bugil alyx star
jacqisbackkk porno
oluwatomisin147 nude
rupali dhankher nude
whouluv2luv leak
 closer2chloe nude
andrea botez слив
betulily reddit
fwithdandd
giulia corrado cumtribute
its jkennedy leak
mjayesi leak
modeltaylork セックステープ
momycarterx bio desnuda
queenofbeauty009 leaked
taynara lindsey pelada
brandygontherocks poringa
cellow111 cum tribute
erome berliana lovel
etsegenet kassa onlyfans
haylonicole leaks
noaadler telegram
rebeccamcleoddd nackt
aditi mistry desnuda
anastasya khosasih boobpedia
andrea botez nude leak anonib
brattyxxdoll vk
carosolok onlyfans
colovic jana biker hub
cyndi perez30 leaked
jessjustlivinn erome
leena banuelos porn
luli pinotti xxx
malecisneros89
notalainaellis leaked
starfmodel erome
andreabotez leaks anonb
anonib celeb botez
botez anonib
jazlynlovesu onlyfans
jocelyn serralde33 xxx
kiaira morand onlyfans leak
maria domark слив
prity naskar nude
whoisdivina
aryarosse9
erin olash fapello
ika dauria boobpedia
iraatii st
ludmila alcaraz erome
noa adler onlyfans leaks
tuku mandal tukumandal7 latest
valerie lelimammi
christy jameau xvideo
enelly urzua pics
foxy fuengfah vk
iamritafaez leaks
inksomnia13 nude
jocelyn serralde porno
laura bułkin nago
mctiddiees2.0
modeltaylork nipple
phumzile gamede nude
samantha skolkin xnxx
sarabrooks fapello
thesparklyleo onlyfans
uhveenyuh topless calendar
 onlylinda23 xxx
acrosun89 naked
andrea botez leaked nude anonib
brattyxxdoll escort
janitalinda97 nude
jmrfoto.hh
lylarobyn erome
maddie goetz nipslip
maximevdd nude
missyozilla nipple
qtsnackirl pussy
umunyana esther nude
itsbecmcleod nu
jocelyn serralde 33 xxx
theeitalianstallion onlyfans
thu torstensson sex tape
anitacashh fuck
emilyy juneeee
ndileka lucy sodlaka pussy
yaneri lourdes telegram
lizzy wildfong threesome
 alessandraliutaketwo leaks
 alessandraliutaketwo topless
ms puiyi sextape
taylor kamphorst sextape
ericaafontaine tits
xtie.fit80 nude
dallyallyallas2.0 porn
julie roperch dildo
intext  quot duramaxprincessss quot  album
lizzy wildfong anal
khrsdi porn
onlypaigebauer tits
intext  quot subby0831 quot  album
ericaafontaine threesome
intext  quot 11chastity11 quot  album
senada ghosh onlyfans
itsblondetori nipple
kendra lazaar onlyfans
indianlisa01 porn
intext  quot bigbittygothic quot  porn
11chastity11 leaked
leena banuelos anal
realchloecollins nipple
11chastity11 leak
mascaramommyy dildo
julie roperch nsfw
onlypaigebauer nackt
shelby lucisano threesome
yurishabrazy videos
julie roperch blowjob
julie roperch sextape
realchloecollins threesome
leena banuelos nude leak
11chastity11 leaks
julie roperch topless
intext  quot dallyallyallas2.0 quot  leaked
caro loesel dildo
julie roperch boobpedia
ericaafontaine anal
kristi eide nipple
dallyallyallas2.0 leaked
11chastity11 onlyfans
onlypaigebauer nippel
intext  quot dallyallyallas2.0 quot  leaks
guadalupe diagosti pussy
lizzy wildfong nackt
kristi eide nsfw
dallyallyallas2.0 leaks
sarah onlyonee nipple
kristi eide threesome
oliviakaye28 nu
julie roperch porn
oliviakaye28 nipple
itsblondetori nackt
realprettyangel arsch
intext  quot charlotte rachelx quot  free
ericaafontaine muschi
laura.sommaruga threesome
julia roperch blowjob
julie roperch fapello


</details>

        
        <main class="main-content">
            <div id="breadcrumb"></div>
            
            <div class="tool-page">
                <h1>Matrix Calculator</h1>
                <p class="tool-intro">Matrix operations (2x2).</p>
                
                <div class="tool-box">
                    <label>Matrix A (2x2)</label>
                    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 0.5rem;">
                        <input type="number" id="a11" value="1" placeholder="a11">
                        <input type="number" id="a12" value="2" placeholder="a12">
                        <input type="number" id="a21" value="3" placeholder="a21">
                        <input type="number" id="a22" value="4" placeholder="a22">
                    </div>
                    
                    <label style="margin-top: 0.8rem;">Matrix B (2x2)</label>
                    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 0.5rem;">
                        <input type="number" id="b11" value="5" placeholder="b11">
                        <input type="number" id="b12" value="6" placeholder="b12">
                        <input type="number" id="b21" value="7" placeholder="b21">
                        <input type="number" id="b22" value="8" placeholder="b22">
                    </div>
                    
                    <label style="margin-top: 0.8rem;">Operation</label>
                    <select id="operation">
                        <option value="add">Addition</option>
                        <option value="subtract">Subtraction</option>
                        <option value="multiply">Multiplication</option>
                    </select>
                    
                    <div style="margin-top: 0.8rem;">
                        <button class="btn btn-primary" onclick="calculate()">Calculate</button>
                    </div>
                </div>
                
                <div class="tool-box">
                    <label>Result</label>
                    <div class="output-box" id="resultOutput">-</div>
                </div>
                
                <div id="ad-content" class="ad-container"></div>
                
                <section class="content-section">
                    <h2>Related Tools</h2>
                    <div class="related-tools" id="related-tools"></div>
                </section>
            </div>
        </main>
    </div>
    
    
    {% include /ads/gobloggugel/default.html %}
{% include footer.html %}

    
    <script>
        function calculate() {
            const A = [
                [parseFloat(document.getElementById('a11').value), parseFloat(document.getElementById('a12').value)],
                [parseFloat(document.getElementById('a21').value), parseFloat(document.getElementById('a22').value)]
            ];
            
            const B = [
                [parseFloat(document.getElementById('b11').value), parseFloat(document.getElementById('b12').value)],
                [parseFloat(document.getElementById('b21').value), parseFloat(document.getElementById('b22').value)]
            ];
            
            const op = document.getElementById('operation').value;
            
            let result = [];
            
            if (op === 'add') {
                result = [
                    [A[0][0] + B[0][0], A[0][1] + B[0][1]],
                    [A[1][0] + B[1][0], A[1][1] + B[1][1]]
                ];
            } else if (op === 'subtract') {
                result = [
                    [A[0][0] - B[0][0], A[0][1] - B[0][1]],
                    [A[1][0] - B[1][0], A[1][1] - B[1][1]]
                ];
            } else {
                result = [
                    [A[0][0]*B[0][0] + A[0][1]*B[1][0], A[0][0]*B[0][1] + A[0][1]*B[1][1]],
                    [A[1][0]*B[0][0] + A[1][1]*B[1][0], A[1][0]*B[0][1] + A[1][1]*B[1][1]]
                ];
            }
            
            document.getElementById('resultOutput').textContent = 
                `| ${result[0][0]}  ${result[0][1]} |\n| ${result[1][0]}  ${result[1][1]} |`;
        }
    </script>
</body>
</html>