---
layout: null
permalink: /site/tools/02/developer/xml-json.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML to JSON Converter</title>
    <meta name="description" content="Convert between XML and JSON formats.">
    <link rel="stylesheet" href="/site/tools/02/style.css">
    <script src="/site/tools/02/config.js"></script>
{% include head.html %}
</head>
<body data-page-name="XML to JSON" data-tool-id="xml-json">
    <div id="site-header"></div>
    
    <div class="layout">
        <div id="site-sidebar"></div>
<details><summary>...</summary>

aroomikimm سكس
nikaclay99 nude
niyah krishna onlyfans
annzi5 leaked
elina makrigianni 
monika haklova nude
anisha momo xnxx
elora saha nude
raghdasammoud
suyumbige dadalı seks
21sweetsunny only fans
esmita esrat mms
charusharma0108 sex videos
fotomodel zeynep sex
georgiana loredana nude boobs
shilpa6 9baby
xnxx seuli paul
mariannamosesova leaks
nurfitrisaja leaked
arohi mim nujhat mamoni
moana bratz onlyfans
الراقصه بديعه xnxx
isha malviya xxxx
mansi negi erome
irifit.98 xnxx
julia aldungarova
xxx effieppm
wolkmane only x
dounia riache telegram
ledneczky virag onlyfans
huda ibrahim onlyfans
anika tabbasum xxx
ledneczky virag
zoexhill instagram
mari cancioo xxx
warda maryoula onlyfans
tweety.lau xnxx
luxuryflashes leak
rima akter adiba sex
sosooo official
clara abou nassar leaked
javicientx
esther jj onlyfans
gayelle shtaioui
boszczar wika
bia notmia
celina melon bunkr
sumina rinki jangra
veronika chelina viral
warda malik erome
swathirapetii
لينا العزاوي سكس
priiyaofficial
inaayakapoor071
pallunarwade
queenx.patra
zzuzineckaa
zoexhill erome
farzeen arif farzeen arif31 latest
indian vlogger jaya navel ressit
shubhangini verma shubhangini1212 latest
laiagomezz onlyfans
nowrin kabir onlyfans
joyeeta ashraf onlyfan
sanskriti gujjar sanskriteee latest
intext  quot amy.quinnnnn quot  cam or recordings or siterip or albums
pollikorcsek
asti-loren nsfw
shahreen tahsin iqbal anilaiiqbal latest
ladallave nude
 quot diana avilova quot  alisha bellydance
iamgirlbluee nipple
suju vasan hey sujuvasan here latest
jaklin abadi onlyfans
malakangeloff onlyfans
israt jahan arina- ইসরাত জাহান এরিনা writing service
soutirna banerjee richa banerjee latest
helenozdemiirr
sunehra tasnim height in feet reddit
shadkhan anastasia onlyfans
tamil hotwife atchaya mms
veronica macchi veroniicamacchi latest
korcsek polli reddit
shayma hidaya onlyfans
her beauty place by zagorida
qpegirl nude
intext  quot amy.quinnnnn quot  porn or nudes or leaks or onlyfans
andiitakacs
polinkabatrak nude
asti-loren lucia iamgirlbluee latest
ajrin islam ajrinaislamm latest
wika boszczar nude
aliah.routray reddit
buddhini madam leak telegram
suyumbige dadalı reddit
saika farhin reddit
intext  quot amy.quinnnnn quot  leaked or download or free or watch
21sweetsunny onlyfans
humaira pushpo nude
joyeeta ashraf only fan
malakangeloff nude
iamgirlbluee ass
hazal kılınç fapello
beauty station by rafia beautystationbyrafia latest
georginaagym leak
aarohi 86 fapello
w.kdha wissou
meenu+bai+2840official meenu raj29
lulinkax onlyfans
intext  quot amy.quinnnnn quot  pics or gallery or images or videos
yasmeen amalfi queen.amilfi1 latest
gabriela.koromila onlyfans
qpegirl leak
klaudia fujakova reddit
pratibha choudharry pratibhachoudharry latest
nórikvn
jas shernazar jasminlandanaa latest
niraglamz leak
suyumbige dadalı bikini
lucia liacoplo nude
polikavibes leaked
najka hali porn
the artani san francisco apartments
daysaim model
nizz nikki
ivettfodorr onlyfans
nourachi2
mukemmelnesli fapello
ameera ibnat shubha nude
 quot annet shvets quot  onlyfans or fansly or patreon
arpit tanwar arpittanwar53 latest
laiagomezz
georginaagym leaks
lusidubova
szndr tk insta
aqsa pervaiz fapello
noah danenhower fapello
catulienka85
nszvn threads
bellajavorka nude
angyal ani onlyfans
jas shernazar jasminlandanaa instagram latest posts 2026
aliah.routray boobs
iliana baz onlyfans
erika heredyova onlyfans
emmalastier leak
elisa korodi onlyfans
kristyna nemethova onlyfans
zamaryta zamarytagaibor latest
adwiti singh adweetee latest
sayma safa safashareeef latest
wahiba derouich wahiiiba latest
freelancer tanrima bala
jenya horvatova onlyfans
bricchi gloria onlyfans
ajuuuska onlyfans
mrsn an  
andjela tasheva porn
fahmida haque mim nude
csincsi03
isha modi fapello
your adiba your adiba latest
joyeta ashraf onlyfans
niraglamz onlyfans
naomi vignoni socialmediagirls
hanka gelnarova fapello
myriam tadjine onlyfans
degentati erome
maya baro mayabaro123 latest
just.nayab nsfw
lulinkaax onlyfans
daniellalapox onlyfans
zsofijad leak
simay ece fapello
https tequilaa nude
jaklin abadi naked
lucija baban socialmediagirls
samiya nasrin anjum onlyfans
shinjini chakraborty kang kau4r
aliah.routray tits
syeda zahra raza zahrashah5 latest
zoexhill nua
melisadisisaglam leak
imogenlucieee xxx
assalah khaddour onlyfans
imenedorya7 onlyfans
aikaterini fotiadou onlyfans
wong kimling onlyfans
anastasia tarasidou nudes
tracy lear ecommercebeautyqueen latest
ladallave nuda
zamarytagaibor xxx
ika dauria pornhub
sandra lipovska onlyfans
sreeparvathi805 onlyfans
hullocsillag 21
purplejulianaa xxx
minnatul mandal digital creator latest
shital khivansara shital 8811  jain latest
sanskriti gujjar sanskriteee latest latest
nanthini shona nanthini shona latest
trixi brooks fapello
aroomi kim bugil
lucila liacoplo fapello
fatema khanom liza nude
wika boszczar sex videos
sarah velush fapello
dibyasha das nude
fiore laza erome
newlaura fox1  nude
fredrik werner bleachednoir latest
iamllill
iamgirlbluee arsch
iamgirlbluee nu
aliah.routray onlyfans
hollyka230
jajkenka onlyfans
yashugram nude
anllela sagra fapello
mirsini andreioteli
zoexhill onlyfans
szakali evelin onlyfans profile
mia kolopey leaks
sasha shenderey nude
majkenka leak
alexaheysell xxx
amena akter chandni nude
floratbrszk nude
michela han socialmediagirls
dj mellissa grace onlyfans leaked
luu liacoplo onlyfans
olya manika onlyfans
polikavibes leak
rimaparna ghosh porn
july fit july onlyfans
marita stavrou nude
denisa kubesova nude
social média girls qpegirl
zoexhill fapello
mukemmelnesli nude
155xchang leak
melisa disisaglam onlyfans
seuli roy92 nude
imogenlucieee xnxx
nailamay  nude
vika boszczar
thepressurebp onlyfans
mehiekasharma
lucila liacoplo erome
neslihan gül fapello
ezel bektaş onlyfans
maria trohopoulou
eleni lft
kiss virág fapello
moitry sarker nude
ramona rox onlyfans
veronika jurisova onlyfans
mcsojer nude
molcsina nude
rumaisa ivnat erome
amy.quinnnnn onlyfans
dina farida becker onlyfans
thepressurebp nude
21sweetsunny nude
siry boglarka onlyfans
kateryna butenko-milevskaya husband
humaira pushpo xxx
21sweetsunny porn
sharlina hossain sharlina oshin latest
lueur nail spa mango hill
socialmediagirls dalmacsszr
janayameihla onlyfans
milada moore fapello
suyumbige dadali nude
stahalovaa nudes
wika boszczar xxxx
jaklin abadi nude
zobbykaur erome
claudia martini 1975 fapello
melisadisisaglam nude
beatrice guglielmi onlyfans
sexijahoda666
rafia pervaiz xnxx
ginevra fenyes onlyfans
piu #39 z makeover glamour institute by mua piyali ghosh beauty salon kolkata
atika online thrift shop india
melisa disisaglam leaked
shadkhan anastasia nuda
wesslieexo fapello
victoria boszczar naked
brattyxluna xxx
zoexhill nude
euthimia.mpk onlyfans
miaofficialbr sex
qpegirl onlyfans
swathirapetii nude
lucila liacoplo onlyfans
ستيفاني عطالله xnxx
majkenka fapello
cynthia makhlouf sextape
barbaragomezh latest
csilla budai leaked
onlyfans joyeeta ashraf
nassim almasi onlyfans
inna aminova onlyfans
szakali evelin onlyfans account
doncigram onlyfans
barbcsika nude
amena akter cadni nudes
donatella bellicchi fapello
ryma offishal erome
arham oranian
ladallave naked
ana bikinifit nude
mukemmelnesli erome
waveya bunkr
elina avilova elina avilovaa latest
mariaxjsmin
mariam abdsater leak
karima chamsi karimachamsi2 latest
natypagachic
harshita karma harshitakarmaa latest
tithi dutta tithiduttasd latest
merv the cat onlyfans
t.doriina nude
rafailia.karagiannidou nude
misa baby1 nude
georginaagym erome
lena reich fapello
marika dauria onlyfans
wika boszczar xxx video
poojaofficial002 nude
laura tnnr leak
hotwife ceyda twitter
daniellalapox nude
monamajhi245 nude
 inked bejby
tanha shreta nude
yairrosee leak
laiagomezz leaks
fatima nazish fatima nazish funtime latest
soz le pop sextape
lokasree dutta ratri  003 latest
p.sidiropoulos onlyfans
lucialachkovic reddit
gabriela koromila onlyfans
angelatufoo nude
klementinasoregi nude
ika dauria fapello
lolinkaax of leak
sweetestsel onlyfans
doncigram nude
lucila liacoplo topless
roxanne galani nude
mara traversi fapello
wesslieexo nude
callmetaisha nude
laiagomezz nude
shiraz karam onlyfans
nikoleta moricova слив
xnxx chikoura
fapello alya vural
bellajavorka onlyfans
panagiota katsatou onlyfans
pelin eila onlyfans
nitrancanka nude
aroomi kim fapello
degentati xxx
deeksha 0102 nude
lucila liacoplo nuda
thepressurebp erome
ika dauria onlyfans
juliiiaaavictoriaaa twitter

</details>

        
        <main class="main-content">
            <div id="breadcrumb"></div>
            
            <div class="tool-page">
                <h1>XML to JSON Converter</h1>
                <p class="tool-intro">Convert between XML and JSON formats.</p>
                
                <div class="tool-box">
                    <label>XML Input</label>
                    <textarea id="xmlInput" placeholder="Paste XML here..." style="font-family: monospace;"></textarea>
                    
                    <div style="margin-top: 0.8rem;">
                        <button class="btn btn-primary" onclick="convert()">Convert to JSON</button>
                        <button class="btn btn-copy" onclick="copyResult()">Copy</button>
                        <button class="btn btn-secondary" onclick="clearAll()">Clear</button>
                        <button class="btn btn-secondary" onclick="sampleXML()">Sample</button>
                    </div>
                </div>
                
                <div class="tool-box">
                    <label>JSON Output</label>
                    <div class="output-box" id="jsonOutput">-</div>
                </div>
                
                <div id="ad-content" class="ad-container"></div>
                
                <section class="content-section">
                    <h2>Related Tools</h2>
                    <div class="related-tools" id="related-tools"></div>
                </section>
            </div>
        </main>
    </div>
    
    
    {% include /ads/gobloggugel/default.html %}
{% include footer.html %}

    
    <script>
        function xmlToJson(xml) {
            const parser = new DOMParser();
            const doc = parser.parseFromString(xml, 'text/xml');
            
            if (doc.querySelector('parsererror')) {
                throw new Error('Invalid XML');
            }
            
            function parseNode(node) {
                if (node.nodeType === 3) return node.textContent.trim();
                if (node.nodeType !== 1) return null;
                
                const obj = {};
                const children = node.children;
                
                if (children.length === 0) {
                    return node.textContent.trim();
                }
                
                for (const child of children) {
                    const result = parseNode(child);
                    const name = child.nodeName;
                    
                    if (obj[name] === undefined) {
                        obj[name] = result;
                    } else if (Array.isArray(obj[name])) {
                        obj[name].push(result);
                    } else {
                        obj[name] = [obj[name], result];
                    }
                }
                
                return obj;
            }
            
            const result = {};
            result[doc.documentElement.nodeName] = parseNode(doc.documentElement);
            return result;
        }
        
        function convert() {
            const xml = document.getElementById('xmlInput').value.trim();
            if (!xml) { alert('Paste XML first.'); return; }
            
            try {
                const json = xmlToJson(xml);
                document.getElementById('jsonOutput').textContent = JSON.stringify(json, null, 2);
            } catch(e) {
                alert('Error: ' + e.message);
            }
        }
        
        function copyResult() {
            const t = document.getElementById('jsonOutput').textContent;
            if (t === '-') { alert('Convert first.'); return; }
            navigator.clipboard.writeText(t).then(() => alert('Copied!'));
        }
        
        function clearAll() {
            document.getElementById('xmlInput').value = '';
            document.getElementById('jsonOutput').textContent = '-';
        }
        
        function sampleXML() {
            document.getElementById('xmlInput').value = '<root><user><name>John</name><age>30</age></user><user><name>Jane</name><age>25</age></user></root>';
            convert();
        }
    </script>
</body>
</html>